<h1>Kendo UI examples</h1>

<h2>Grid</h2>
<ul>
  <li><%= link_to 'Simple', dashboard_simple_path %></li>
  <li><%= link_to 'Simple with Ajax', dashboard_simple_ajax_path %></li>
  <li><%= link_to 'Simple with Ajax and pagination', dashboard_simple_ajax_pagination_path %></li>

</ul>
