<h1>Kendo-ui with inline edition</h1>

<div id="grid">

</div>

<script>
  $(function(){

    var users = new kendo.data.DataSource({
      transport: {
        read:  {
          url: "<%= paginated_sort_users_path %>",
          dataType: "json"
        }
      },
      schema: {
        data: "results",
        total: "total"
      },
      // set the second page as the current page
      serverPaging: true,
      serverSorting: true,
      page: 1,
      pageSize: 10
    });

    $('#grid').kendoGrid({
      columns: [
        { title: "Name", field: "name", template: "<strong>#= name #</strong>" },
        { title: "Email", field: "email" },
        { title: "Age", field: "age" }
      ],
      dataSource: users,
      scrollable: true,
      pageable: {
        refresh: true,
        pageSizes: true,
        buttonCount: 5
      },
      sortable: {
        mode: "multiple"
      }
    });
  });
</script>

